.hero-section{
   height: 100vh;
   width: 100vw;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   z-index: -1;
   background-image: url('../../assets/hero-section/background-img.jpg');
   
}

.hero-section >div{
    width: 100%;
    height: 100%;
    background-color: #00000093;
    backdrop-filter: blur(3px);
}

.hero-section{
    text-align: center;
}

@media (max-width:600px){
    .hero-section p{
        font-size: 12px;
    }
}