.page{
    padding-top: 10vh;
    height: fit-content;
}

.filters-container{
    width: 20%;
    height: 110vh;
    justify-content: start;
    margin-top: 30px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.571);
    display: flex;
}

.filter-top{
    border-bottom: 2px;
    border-right: 2px;
    padding: 0px 20px;
}
.filter-item:hover{
    color: black;
    opacity: 0.9;
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.425);
}
.filter-item p{
    font-size: 12px;
}

.filter-bottom{
    border-bottom: 2px;
    border-right: 2px;
    padding: 0px 20px ;
}

.active{
    background-color: #ffb936;
    color: white;
}

.filters-container h3{
  text-align: center;  
}

.checkbox{
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

.filter-item > p{
    padding: 5px  ;
}

.main{
    width: 80%;
    margin-top: 30px;
    height: 95%;
    padding: 20px;
}


input {
    width: 100%;
    border: none;
    outline: none;
}

.mobile-filter{
    display: none;
}

.card{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.571);
    max-width: 300px;
}

.card h3{
    text-align: center;
    padding: 10px;
}

.card img{
    width: 200px;
    height: 200px;
}

.cards-section{
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: fit-content;
 
}

@media (max-width:900px) {
    .filters-container{
        display: none;
        position: absolute;
        backdrop-filter: blur(15px);
        width: 100%;
        
    }
    
    .mobile-filter{
        display: block;
        padding: 10px;
        font-size: 20px;
        width:auto;
        
    }
    .mobile-filter i{
        color: rgba(96, 96, 96, 0.413);
        
    }
}