.page{
    padding: 10vh 10vh 0vh 0vh;
    height: fit-content;
}

.header{
    background-color: #00000093;
    backdrop-filter: blur(3px);
}

.filters-container{
    width: 20%;
    margin-top: 30px;
}

.filter-top{
    height: 50%;
    border-bottom: 2px;
    border-right: 2px;
    padding: 20px 0px 20px 45px;
}

.filter-bottom{
    height: 50%;
    border-bottom: 2px;
    border-right: 2px;
    padding: 20px 0px 20px 45px;
}


.filters-container h3{
  text-align: center;  
}

.checkbox{
    width: 28.5px;
    height: 28.5px;
    border-radius: 10px;
}

.filter-item > p{
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

.main{
    width: 80%;
    margin-top: 30px;
    height: 95%;
    padding: 20px;
}

.search-bar{
    width: 30%;
    height: 30px;
}

input {
    width: 100%;
    border: none;
    outline: none;
}

.mobile-filter{
    display: none;
}

.card-container{
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: fit-content;
}

.card{
    width: 325px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    height: 400px;
}

.card h3{
    text-align: center;
    padding: 10px;
}


.cards-section{
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: fit-content;
    
}

@media (max-width:1200px) {
    .filters-container{
        display: none;
    }

    .mobile-filter{
        display: block;
        padding: 30px;
        font-size: 30px;
    }
}