.page{
    padding-top: 10vh;
    height: fit-content;
}



.filters-container{
    width: 20%;
    height: 110vh;
    justify-content: start;
    margin-top: 30px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.571);
}

.filter-top{
    border-bottom: 2px;
    border-right: 2px;
    padding: 0px 20px;
}
.filter-item p{
    font-size: 12px;
}

.filter-bottom{
    
    border-bottom: 2px;
    border-right: 2px;
    padding: 0px 20px ;
}


.filters-container h3{
  text-align: center;  
}

.checkbox{
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

.filter-item > p{
    padding: 5px  ;
}

.main{
    width: 80%;
    margin-top: 30px;
    height: 95%;
    padding: 20px;
}

.search-bar{
    max-width: 300px;
}

input {
    width: 100%;
    border: none;
    outline: none;
}

.mobile-filter{
    display: none;
}

.card-container{
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.card{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.571);
}

.card h3{
    text-align: center;
    padding: 10px;
}

.card img{
    max-width: 200px;
}

.cards-section{
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: fit-content;
    
}

@media (max-width:1200px) {
    .filters-container{
        display: none;
    }

    .mobile-filter{
        display: block;
        padding: 30px;
        font-size: 30px;
        width:5%;
        
    }
    .mobile-filter i{
        color: rgb(63, 63, 63);
    }
}