.bg-primary{
    background-color: #ffb936;
}

.bg-secondary{
    background-color: white;
}

.text-white{
    color: white;
}

.bg-grey{
    background-color: rgba(151, 151, 151, 0.645);
}

.border-color{
    border-color: rgb(151, 151, 151);
}