.bg-primary{
    background-color: #ffb936;
}

.bg-secondary{
    background-color: white;
}

.text-white{
    color: white;
}


.text-danger{
    color: rgb(171, 0, 0);
}
.bg-danger{
    color: rgb(171, 0, 0);
}
.border-color{
    border-color: rgb(98, 98, 98);

}