.bg-primary{
    background-color: #ffb936;
}

.bg-secondary{
    background-color: white;
}

.header-bg{
    background-color: #b1a9a993;
    backdrop-filter: blur(5px);
}

.text-white{
    color: white;
}

.bg-grey{
    background-color: rgba(202, 202, 202, 0.645);
}

.text-danger{
    color: rgb(171, 0, 0);
}
.bg-danger{
    background-color: rgb(171, 0, 0);
}
.border-color{
    border-color: rgb(98, 98, 98);
}